<div>
	<div style="font-size: 28px; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> “Target species” for ballast water exemptions</div>
	<div style="margin: 25px 25%;">
		A key element of the <a href="http://www.helcom.fi/Documents/Ministerial2013/Ministerial%20declaration/Adopted_endorsed%20documents/Joint%20HELCOM_OSPAR%20Guidelines.pdf" target="_blank">JHP</a> are lists of non-indigenous species that are likely to impair or damage the environment, human health, property and resources if they spread to the sea area for which the list was created.<br/><br/>As part of the <a href="http://www.helcom.fi/Documents/Ministerial2013/Ministerial%20declaration/Adopted_endorsed%20documents/Joint%20HELCOM_OSPAR%20Guidelines.pdf" target="_blank">JHP</a> process two such lists of species of particular relevance have been agreed, one for the North East Atlantic (OSPAR area) and another for the Baltic Sea (HELCOM area). See map below.
	</div>
	<div style="font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> Baltic Sea Target species (HELCOM area) </div>
	<div style="margin: 25px 25%;">
		The Baltic Sea countries have agreed on the list of target species for the Baltic Sea within HELCOM. The list is being continuously revised and updated by a dedicated Correspondence Group.<br/><br/>You can find the currently valid target species list for the Baltic Sea as a table at the end of the page.
	</div>
	<div style="font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> North East Atlantic Target Species (OSPAR area) </div>
	<div style="margin: 25px 25%;">
		The North East Atlantic countries have agreed on the list of target species for the North East Atlantic within OSPAR. The list is being continuously revised and updated by a dedicated OSPAR Group.<br/><br/>You can find the currently valid target species list for the North East Atlantic as a table at the end of the page.
	</div>
	<div style="font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> HELCOM and OSPAR overlap area </div>
	<div style="margin: 25px 25%;">
		Where the HELCOM and OSPAR marine areas overlap (Kattegat, see map) a combination of the HELCOM and OSPAR target species lists apply.<br/><br/>You can find the currently valid target species list for the North East Atlantic and Baltic Sea combined as a table at the end of the page.
	</div>
	<div style="font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> Watch list species </div>
	<div style="margin: 25px 25%;">
		A set of “watch list” species are also available covering species of less immediate concern but which are candidates for target species status.<br/>The currently valid ”watch list”:
	</div>
	<div id="watchlist" style="margin: 25px 25%;"></div>
	<div id="helcomosparmap"></div>
	<div style="margin: 25px 10%;">
		<div id="targetSpeciesDataGrid_alert_message" style="margin-top: 10px; color: rgb(128, 0, 0); font-weight: bold; display: none;"></div>
		<div id="targetSpeciesDataGrid_message" style="margin-top: 10px; color: rgb(128, 0, 0); display: none;"></div>
		<div id="targetSpeciesDataGrid_clearFilter" class="mainLink" style="color: rgb(128, 0, 0); font-weight: bold; display: none;">
			Remove filter
		</div>
	</div>
	<div id="targetSpeciesDataGrid" style="margin: 25px 10%; height: 600px;"></div>
</div>
