<div id="testPane" data-dojo-type="dijit.layout.ContentPane" title="Test">
	<div style="font-size: 28px; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> Quick tips: </div>
	<div style="margin: 25px 25%; text-align: justify; text-justify: inter-word;">
		<ul>
			<li style="margin: 10px 0px">Read carefully the Information and Exemption tabs before starting the analyses</li>
			<li style="margin: 10px 0px">The complete dataset is available as a downloadable zip file</li>
			<li style="margin: 10px 0px">Risk assessment results can be downloaded as .pdf</li>
			<li style="margin: 10px 0px">Please search using filters to limit your search to a an area (HELCOM, OSPAR or both), specific port, year, species name or organism group</li>
			<li style="margin: 10px 0px">The search results will be displayed as point observations (i.e. circles) or tables and can be downloaded as .csv or .txt files</li>
			<li style="margin: 10px 0px">Click on the circle for more information on the observation. To navigate between different observations at the same location use the arrow on top of the info box</li>
			<li style="margin: 10px 0px">After your first search, you can choose the option “Update search” to keep your current search settings and adjust them</li>
			<li style="margin: 10px 0px">Afterwards you can use the “Reset filters” to delete all your current search filters</li>
			<li style="margin: 10px 0px">For a new search, choose “Update search” and then “Reset filters”</li>
			<li style="margin: 10px 0px">Feedback and questions are warmly welcome and can be send to: data@helcom.fi</li>
		</ul>
	</div>
	<div style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;"> Links of interest </div>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="http://www.helcom.fi/Documents/Ministerial2013/Ministerial declaration/Adopted_endorsed documents/Joint HELCOM_OSPAR Guidelines.pdf" target="_blank">HELCOM-OSPAR joint harmonized procedure</a>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="http://www.imo.org/en/About/Conventions/ListOfConventions/Pages/International-Convention-for-the-Control-and-Management-of-Ships'-Ballast-Water-and-Sediments-(BWM).aspx" target="_blank">Ballast Water Management Convention</a>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="#" target="_blank">Risk assessment algorithm</a>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="http://www.helcom.fi/action-areas/shipping/" target="_blank">HELCOM work on Ballast water</a>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="https://www.ospar.org/work-areas/eiha/shipping" target="_blank">OSPAR work on Ballast water</a>
	<a style="display: block; font-weight: bold; margin: 25px 25%; text-align: justify; text-justify: inter-word;" href="http://www.corpi.ku.lt/databases/index.php/aquanis/" target="_blank">AquaNIS database</a>
	<div style="margin: 25px 25%; text-align: justify; text-justify: inter-word;">Secretariats contact details: <a href="http://www.helcom.fi/about-us/contact-us/" target="_blank">HELCOM</a>, <a href="http://www.ospar.org/contact/" target="_blank">OSPAR</a></div>
</div>
